body {
    background-image: url("https://images6.alphacoders.com/325/325051.jpg");
}
h1 {
  font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
  text-align: center;
  text-shadow: 4px 4px 16px #FF0000;
  color: white;
  font-size: 120px;
  margin-top: 10px;
  margin-bottom: 20px;
}
h3 {
  font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
  text-align: center;
  margin-top: 0px;
  color: white;
}
#audiofile {
  margin-left: 487px;
}
#play {
  background-color:#000080;
  display: inline-block;
  border: none;
  color: white;
  padding: 20px 25px;
  text-align: center
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%;
  margin-left: 717px;
  font-size: 50px;
}
#play:hover {background-color: #00004d;}
#play:active {
  background-color: #00004d;
  transform: translateY(4px);
}
